<!DOCTYPE html>
<html>
<head>
    <script src="/static/test.js"></script>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/static/grid.css">
</head>
<body>
<div class="site">
	<header class="masthead" id="message"></header>
    <h1 class="page-title">Page Title</h1>
    <main class="main-content">
        <h2>main content</h2>
        <button id="deleteAll" onclick="view.deleteAll()">Delete All</button>
        <button id="add" onclick="view.add()">Add</button>
        <div id="form" class="hidden">
            <label>First Name: <input id="new_first"></label>
            <label>Last Name: <input id="new_last"></label>
            <button id="submit" onclick="view.submit()">Submit</button>
            <button id="cancel" onclick="view.cancel()">Cancel</button>
        </div>
        <ul id="content-list">

        </ul>
    </main>
    <aside class="sidebar"> sidebar {{ time_seconds }}</aside>
    <footer class="footer"> footer</footer>
</div>
</body>
</html>
