{% extends 'base.html' %}

{% block header %}
    <title>Test</title>
    <script src="/static/test.js"></script>
{% endblock %}

{% block content %}
    <h2>Test Content</h2>
    <button id="deleteAll" onclick="view.deleteAll()">Delete All</button>
    <button id="add" onclick="view.add()">Add</button>
    <div id="form" class="hidden">
        <label>First Name: <input id="new_first"></label>
        <label>Last Name: <input id="new_last"></label>
        <button id="submit" onclick="view.submit()">Submit</button>
        <button id="cancel" onclick="view.cancel()">Cancel</button>
    </div>
    <ul id="content-list">

    </ul>
{% endblock %}